# Google Gemini variables
GOOGLE_API_KEY=*******************
GOOGLE_API_MODEL_NAME=gemini-2.5-flash-lite
# Debug
LOG_LEVEL=DEBUG
TESTER=false
# Login
USERNAME_APP=tester
PASSWORD_APP=*******************